.App {
  text-align: center;
}
.ok,
.error {
  font-size: 20px;
  border-style: 2px, solid;
  border-radius: 5px;
  padding: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.notes {
  display: flex;
}
li {
  border: 1px black solid;
  padding: 0;
  list-style: none;
}
.ok {
  background: #d4edda;
  color: rgb(35, 168, 35);
}
.ok2 {
  color: rgb(35, 168, 35);
}
.error2 {
  color: #e30013;
}
.note {
  border-radius: 5px;
  border: rgb(149, 149, 149) 1px solid;
  padding: 5px;
  margin: 2px;
}
.error {
  background: #f8d7da;
  color: #80151e;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
